{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

    {% if is_on_watchlist %}
        <a href="{% url 'watchlist' %}" class="badge badge-secondary">Watchlist</a>
    {% else %}
        <form action="{% url 'add_to_watchlist' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-secondary btn-sm" type="submit" value="Add to watchlist">
        </form>
    {% endif %}

    {% if listing.is_closed %}
        <div class="alert alert-info mt-2" role="alert">
            Listing is closed
        </div>
        {% if max_bid.user == user %}
            <div class="alert alert-success" role="alert">
                You have won the auction!
            </div>
        {% endif %}
    {% endif %}

    <div class="my-2">
        <img src="{{ listing.image_url }}" class="img-fluid" alt="No image">
    </div>
    <h5 class="mb-0">Description:</h5>
    <p class="mb-1">{{ listing.description }}</p>
    
    {% if max_bid %}
        <h3>${{ max_bid.amount }}</h3>
    {% else %}  
        <h3>${{ listing.starting_bid }}</h3>
    {% endif %}

    {% if user.is_authenticated and not listing.is_closed %}
        <form action="{% url 'listing' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <small class="form-text text-muted">
                    {{ bid_count }} bid(s) so far.
                    {% if max_bid.user == user %}
                        Your bid is the current bid.
                    {% endif %}
                </small>
                <input type="number" class="form-control" name="bid"
                    placeholder="Bid" value="{{ bid }}" min="0" step="0.01">
            </div>
            {% if message %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Submit bid">
        </form>
    {% endif %}

    <div class="my-5">
        <h4>Details</h4>
        <ul>
            <li>Listed by: {{ listing.user }}</li>
            {% if listing.category %}
                <li>Category: {{ listing.category.name }}</li>
            {% else %}
                <li>Category: No Category Listed</li>
            {% endif %}
        </ul>
        {% if listing.user == user and not listing.is_closed %}
            <form action="{% url 'close_listing' listing_id=listing.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-info" value="Close listing">
            </form>
        {% endif %}
    </div>

    <div class="my-4">
        <h4>Comments</h4>
        
        <form class="mb-3" action="{% url 'listing_comment' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Add comment</label>
                <textarea class="form-control" name="comment" placeholder="Add comment..."
                    maxlength="1000" rows="5" required></textarea>
            </div>
            <input type="submit" class="btn btn-outline-primary" value="Comment" style="border-radius: 20px;">
        </form>

        {% for comment in comments %}
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">{{ comment.user }} · {{ comment.created_at }}</h6>
                    <div class="card-text">{{ comment.content }}</div>
                </div>
            </div>
        {% empty %}
            <div>No comments yet</div>
        {% endfor %}
    </div>

{% endblock %}