textarea {
    min-height: 400px;
}

#error-div {
    margin-top: 1.5rem;
}

.email-preview-card[data-read=true] > .card-body {
    background-color: lightgray;
}

.email-preview-card > .card-body:hover {
    background-color: aliceblue;
}